
body{
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(35, 12, 223, 0.17), rgba(35, 12, 223, 0.17)), radial-gradient(circle at center, #230cdf, #48ff97);
  background-blend-mode: multiply;
}

/* utilized in landing_page.jsx */
.fadeInRight {
  opacity: 0;
  transform: translateX(-500px); /* Adjust the initial translation as needed */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
&:hover {
  opacity: 1;
  transform: translateX(0);
}  
}